[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
slackeventsapi = "*"
python-dotenv = "*"
json-logging = "*"
slackclient = "*"
flask = "*"
flask-cors = "*"
requests = "*"
waitress = "*"

[requires]
python_version = "3.8"
